@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="content">
        <h1>Welcome to Ever-Fitter</h1>

        <p>EverFitter is an intuitive online tool that allows you to maintain a comprehensive food diary. By logging your daily food intake in our "Today's Diary" section, you can effortlessly track your calorie consumption and make informed dietary choices. Our user-friendly interface ensures that logging your meals and snacks is quick and easy, so you can focus more on enjoying your food and less on the hassle of tracking it.</p>

        <h2>Get Started</h2>
        <p>Embark on your health and fitness journey with EverFitter today. Simply create an account, and start logging your meals in the "Today's Diary" section. Watch as your food diary transforms into a powerful tool for achieving your dietary goals.</p>

    </div>
</div>